<?xml version="1.0" encoding="utf-8"?>

  <configuration>

    <system.webServer>        

      <handlers>

        <add name="iisnode" path="dist/server" verb="*" modules="iisnode"/>

      </handlers>

      <rewrite>

        <rules>

            <rule name="DynamicContent">

                 <match url="/*" />

                 <action type="Rewrite" url="dist/server"/>

            </rule>

       </rules>

      </rewrite>

    </system.webServer>

  </configuration>
